.example-card {
    max-width: 250px;
    background-color: rgb(232, 235, 239);
    margin: 10px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  #math{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(232, 231, 234);

  }
  