
<div id="registercomponent">

    <div><h1>Register</h1></div>

    

    <div>
        <form  id="registerform" [formGroup]="registerForm" (ngSubmit)="submit()" class="reg">

            <div style="display: flex; gap: 20px;">
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstName">
                </mat-form-field>
    
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastName">
                </mat-form-field>

            </div>

            <div>

            </div>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option *ngFor="let g of gender" [value]="g">
                    {{g}}
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>User type</mat-label>
                <mat-select formControlName="userType">
                  <mat-option *ngFor="let user of userType" [value]="user.userTypeId">
                    {{user.userType}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
        
        
            <mat-form-field>
              <mat-label>Create password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" #password formControlName="password">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
        
            <button mat-flat-button color="primary" [disabled]="registerForm.invalid" >Register</button>
          </form>
    </div>

</div>