<div id="formdiv">

  <form [formGroup]="form" (ngSubmit)="save()" class="form">

    <mat-form-field class="feild" >
      <mat-label>Course Name</mat-label>
    <input aria-label="Name" matInput style="height: 20px;" id="name"  formControlName="courseName">  
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input aria-label="Description" matInput style="height: 20px;"  id="desc"  formControlName="courseDescription" >  
    </mat-form-field>
  
  
    <mat-form-field >
      <mat-label for="courseLevel">Level</mat-label>
      <mat-select aria-label="courseLevel" id="courseLevel" name="courseLevel" formControlName="courseLevel">
        <mat-option *ngFor="let p of level" [value]="p" >
          {{p}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label for="price">Price</mat-label>
      <input aria-label="Description" matInput style="height: 20px;" name="price"  id="price"  formControlName="price"  >  
    </mat-form-field>

    <mat-form-field>
      <mat-label for="image">Image</mat-label>
      <input matInput id="image" name="image" formControlName="image">
    </mat-form-field>

    <mat-form-field >
      <mat-label for="category">Category</mat-label>
      <mat-select aria-label="category" id="category" name="category" formControlName="category">
        <mat-option *ngFor="let s of Catgeory" [value]="s.categoryId" >
          {{s.categoryTitle}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div style="display: flex; justify-content: space-evenly;">
      <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
      <button mat-button type="submit" cdkFocusInitial >Ok</button>
    </div>

  </form>


</div>
