<div id="table">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Order No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="orderDate">
      <th mat-header-cell *matHeaderCellDef> Order Date & Time </th>
      <td mat-cell *matCellDef="let element"> {{element.orderDate | date : 'MMM d, y, h:mm:ss a'}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> User </th>
      <td mat-cell *matCellDef="let element"> {{element.user.firstName | titlecase}} {{element.user.lastName | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="course">
      <th mat-header-cell *matHeaderCellDef> Courses </th>
      <td mat-cell *matCellDef="let element"> {{getOrderCourseName(element)}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="totlePrice">
      <th mat-header-cell *matHeaderCellDef> Total price </th>
      <td mat-cell *matCellDef="let element"> {{element.totlePrice}} Rs </td>
    </ng-container>

    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div id="adminpage">
  <button [disabled]="previouspage" mat-raised-button color="basic" (click)="pp()">Previous</button>
  <button [disabled]="nextpage" mat-raised-button color="basic" (click)="np()">Next</button>
</div>

<br><br>

<div style="display: flex; justify-content: center; align-items: center; margin: 20px;">
  <form [formGroup]="form" (ngSubmit)="save()" class="form">

    
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [max]="today">
        <input formControlName="from" matStartDate placeholder="Start date" >
        <input formControlName="to" matEndDate placeholder="End date" >
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

<button [disabled]="form.invalid" mat-raised-button color="primary">Search Order</button>

  </form>
</div>
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;" class="chartss">
  <app-orders-chart [chartData]="dailyChartData"></app-orders-chart>
  <app-pie-chart [chartData]="weeklyChartData"></app-pie-chart>
</div>


